.template{
    background-color: var(--bg-template);
}

.template img{
    width: 50.000em;
    height: 65%;
    margin-left: 15%;
    margin-top: 11px;
    display: flex;
    position: absolute;
}
/* width: 98.938em;*/
/* margin-left: 100%;*/
